.gallery-root {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.filters-top {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.filter-row {
  display: flex;
  gap: 8px;
  overflow-x: auto;
  white-space: nowrap;
  padding-bottom: 4px;
}

.filter-row::-webkit-scrollbar {
  height: 6px;
}

.filter-row::-webkit-scrollbar-thumb {
  background: #333;
}

.gal-btn {
  padding: 6px 10px;
  background: #4b4c52;
  border: 1px solid #112514;
  color: #e9e7e7;
  cursor: pointer;
  min-width: auto;
  flex-shrink: 0;
  width: max-content;
}

.gal-btn.active {
  padding: 6px 10px;
  background: #04362b;
  border: 1px solid #225337;
  color: #e9e9e9;
}

/* .filter-row button {
  padding: 6px 10px;
  background: #1a1a1a;
  border: 1px solid #333;
  color: #ccc;
  cursor: pointer;
}

.filter-row button.active {
  background: #333;
  color: #fff;
  border-color: #666;
} */

.grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 12px;
}

.cell {
  aspect-ratio: 1 / 1;
  overflow: hidden;
  border: 1px solid #222;
  background: #111;
}

.cell img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.clickable {
  cursor: pointer;
}

.modal {
  position: fixed;
  inset: 0;
  background: rgba(0,0,0,0.75);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 100;
}

.modal-content {
  max-width: 90vw;
  max-height: 90vh;
  background: rgba(5, 5, 5, 0.18);
  backdrop-filter: blur(14px) saturate(160%);
  -webkit-backdrop-filter: blur(14px) saturate(160%);
  padding: 2px;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.modal-content img {
  max-width: 100%;
  max-height: 70vh;
  object-fit: contain;
}

.select-btn {
  align-self: flex-end;
  padding: 8px 16px;
  background: #0a3613;
  border: none;
  color: #fff;
  cursor: pointer;
}

.close-btn {
  position: absolute;
  top: 8px;
  right: 8px;
  background: transparent;
  border: none;
  color: #aaa;
  font-size: 18px;
  cursor: pointer;
}
