.media-gallery {
  padding: 0px;
  font-family: system-ui, sans-serif;
  color: #fff;
  max-width: 382px; /* iphone width */
  margin: 0;
}

.media-section {
  margin-bottom: 24px;
}

.media-section h2 {
  font-size: 18px;
  margin: 0px;
  background: rgba(56, 9, 56, 0.144);
  backdrop-filter: blur(2px) saturate(160%);
  -webkit-backdrop-filter: blur(2px) saturate(160%);
  font-weight: 500;
  padding: 8px 12px;
}

.media-scroll {
  display: flex;
  gap: 8px;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  -webkit-overflow-scrolling: touch;
  padding-top: 8px;
  padding-bottom: 18px;
}

.media-card {
  flex: 0 0 140px;
  display: flex;
  flex-direction: column;
  align-items: center;
  scroll-snap-align: start;
  border-radius: 12px;
  overflow: hidden;
  background: rgba(95, 25, 65, 0.58);
  backdrop-filter: blur(2px) saturate(160%);
  -webkit-backdrop-filter: blur(2px) saturate(160%);
  box-shadow: 0 2px 6px rgba(0,0,0,0.5);
  cursor: pointer;
  transition: transform 0.25s ease, box-shadow 0.25s ease;
}

.media-card:hover {
  transform: scale(1.05);
  box-shadow: 0 4px 6px rgba(0,0,0,0.7);
}

.media-thumb {
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-radius: 12px 12px 0 0;
}

.media-title {
  padding: 6px 8px;
  font-size: 14px;
  text-align: center;
  font-weight: 500;
  /* background: rgba(0,0,0,0.5); */
}

@keyframes fadeScaleIn {
  from {
    opacity: 0;
    transform: scale(0.92);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

.fade-in {
  animation: fadeScaleIn 0.35s ease-out forwards;
}


.media-fullscreen {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.70);
  backdrop-filter: blur(2px) saturate(160%);
  -webkit-backdrop-filter: blur(2px) saturate(160%);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5vh 0 0 0;
  z-index: 9999;
  cursor: zoom-out;
  overflow: hidden;
}

.fullscreen-media {
  max-width: 95%;
  max-height: 95%;
  border-radius: 12px;
  object-fit: contain;
}

.video-controls {
  position: absolute;
  top: 2vh;
  display: flex;
  gap: 10vw;
}

.video-btn {
  background: rgba(0,0,0,0.5);
  border: none;
  padding: 12px 12px;
  aspect-ratio: 1;
  min-width: 48px;
  border-radius: 99px;
  color: #fff;
  font-size: 18px;
  cursor: pointer;
}

.close-btn {
  background: rgba(0,0,0,0.5);
}